{% extends 'layout.twig' %}

{% block title %}
    {% if category %}
        Catégorie : {{ category.name }}{% if page > 1 %}, page {{ page }}{% endif %}
    {% else %}
        Blog{% if page > 1 %}, page {{ page }}{% endif %}
    {% endif %}
{% endblock %}

{% block body %}

    {% if category %}
        <h1>Catégorie : {{ category.name }}{% if page > 1 %}, page {{ page }}{% endif %}</h1>
    {% else %}
        <h1>Bienvenue sur le blog{% if page > 1 %}, page {{ page }}{% endif %}</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-9">

            {% for row in posts | batch(2) %}
                <div class="row mb-2">
                    {% for post in row %}
                        <div class="col-md-6">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    {% if post.categoryName %}
                                        <strong class="d-inline-block mb-2 text-primary">
                                            {{ post.categoryName }}
                                        </strong>
                                    {% endif %}
                                    <h3 class="mb-0">
                                        <a class="text-dark"
                                           href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                                            {{ post.name }}
                                        </a>
                                    </h3>
                                    <div class="mb-1 text-muted">{{ post.createdAt | ago }}</div>
                                    <p class="card-text mb-auto">{{ post.content | excerpt | nl2br }}</p>
                                    <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                                        Voir l'article
                                    </a>
                                </div>
                                {% if post.image %}
                                    <img class="card-img-right flex-auto d-none d-lg-block" src="{{ post.thumb }}"
                                         alt="{{ post.name }}">
                                {% else %}
                                    <img class="card-img-right flex-auto d-none d-lg-block"
                                         src="https://via.placeholder.com/200x250" alt="default image name">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% if category %}
                {{ paginate(posts, 'blog.category', {slug: category.slug}) }}
            {% else %}
                {{ paginate(posts, 'blog.index') }}
            {% endif %}
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                {% for c in categories %}
                    <li class="list-group-item {% if c.id == category.id %}active{% endif %}">
                        <a style="color:inherit;" href="{{ path('blog.category', {slug: c.slug}) }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
